<div class="w-full">

    <!-- Header Block: Title, Subtitle, Search Bar -->
     <!-- Desktop/Laptop Header -->
     <div class="w-full hidden md:flex justify-center items-center">
        <div class="w-full flex">
            <img src="assets/images/trek-1.jpg" alt="Tripfolio Home Page Header Image" style="height: 30rem;" class="w-full object-cover object-top brightness-75">
        </div>
        <div class="absolute flex flex-wrap justify-center items-center w-full">
            <h1 class="w-full text-center text-5xl font-bold text-white poppins-regular drop-shadow-lg">Explore the world together</h1>
            <div class="w-full text-center text-2xl text-yellow-100 poppins-regular mt-4 drop-shadow-lg">Travel, Connect, and Thrive Together</div>
        </div>
     </div>

     <!-- Mobile/Tablet Header -->
     <div class="w-full md:hidden flex justify-center items-center">
        <div class="w-full flex">
            <img src="assets/images/flight-1.jpg" alt="Tripfolio Home Page Header Image" style="height: 20rem;" class="w-full object-cover object-top brightness-75">
        </div>
        <div class="absolute flex flex-wrap justify-center items-center w-full">
            <h1 class="w-full text-center text-3xl font-bold text-white poppins-regular drop-shadow-lg">Explore the<br>world together</h1>
            <div class="w-full text-center text-lg text-yellow-200 poppins-regular mt-2 drop-shadow-lg">Travel, Connect, and Thrive Together</div>
        </div>
     </div>
</div>